# Auth Secret
AUTH_SECRET=
AUTH_TRUST_HOST=
# OAuth google
AUTH_GOOGLE_ID=
AUTH_GOOGLE_SECRET=
# OAuth github
AUTH_GITHUB_ID=
AUTH_GITHUB_SECRET=

#PUBLIC Url backend
NEXT_PUBLIC_API_URL=
BACKEND_API_URL=
#Public cloudinary name
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=
NEXT_PUBLIC_CLOUDINARY_API_KEY=